# =========================
# Build folders
# =========================
bin/
obj/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Rider / VS Code
# =========================
.idea/
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment & Secrets
# =========================
appsettings.Development.json
appsettings.Local.json
secrets.json

# =========================
# Publish folders
# =========================
publish/
wwwroot/uploads/

# =========================
# Database files
# =========================
*.db
*.sqlite
